@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);

body {
   font-family: HelveticaNeue;
   padding-top: 63px;
}

.navbar-brand, h1, h2, h3, h4 {
   font-family: "Encode Sans Condensed", Signika, HelveticaNeue, sans-serif;
   font-weight: 600;
}

.tab-content {
   padding-top: 2px;
}

.CodeMirror {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo;
  font-size: 13px;
  padding: 3px 7px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.CodeMirror-focused {
   border-color: #66afe9;
   outline: 0;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
           box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.CodeMirror-empty {
   color: #bbb;
   font-size: 14px;
   line-height: 1.3em;
}

#faq {
  padding-bottom: 10px;
}
.answer {
  padding-bottom: 1px;
}