#console textarea {
   border: none;
   color: #fff;
}

#console .CodeMirror {
  height: auto;
}

#console .CodeMirror-empty {
   font-family: HelveticaNeue;
}

#console-result {
   font-family: Menlo;
   font-size: 13px;
   line-height: 1.5em;
   height: 570px;
   overflow: scroll;
   overflow-y: scroll;
   padding: 10px 5px;
}

#console-result .input {
  line-height: 1.4em;
  padding-bottom: 2px;
}

#console-result .glyphicon {
  margin-right: 7px;
  font-size: 12px;
}

hr {
   margin-top: 3px;
   margin-bottom: 5px;
}
