.playground-switches {
   width: 280px;
   padding-bottom: 12px;
}

#playground .CodeMirror {
   height: 195px;
   margin-bottom: 10px;
   cursor: text;
}

iframe {
   border: 1px solid #ccc;
   border-radius: 4px;
   width: 100%;
   height: 605px;
}